NEXT_PUBLIC_RESOLVEGRAPH_CONTRACT_ADDRESS_V4=
NEXT_PUBLIC_GENLAYER_RPC_URL=
NEXT_PUBLIC_RESOLVEGRAPH_V3_APPEAL_CONTRACT_ADDRESS_V4=
NEXT_PUBLIC_RESOLVEGRAPH_EVIDENCE_REGISTRY_ADDRESS_V4=
RESOLVEGRAPH_V2_RECIPE_CONTRACT_ADDRESS_V4=
RESOLVEGRAPH_V3_APPEAL_CONTRACT_ADDRESS_V4=
RESOLVEGRAPH_EVIDENCE_REGISTRY_ADDRESS_V4=
